# Ігнорувати директорії та файли, що генеруються при розробці
node_modules/          # Ігноруємо всі залежності, які будуть встановлені в node_modules
npm-debug.log          # Логи npm
yarn-debug.log         # Логи yarn
yarn-error.log         # Логи yarn
.pnpm-debug.log        # Логи pnpm (якщо використовується pnpm)

# Ігноруємо файли конфігурацій, специфічні для середовища
.env                   # Файл для змінних середовища, не має бути в репозиторії

# Ігноруємо папки, що містять побудовані файли
dist/                  # Збірки для фронтенду
build/                 # Збірки для фронтенду
*.log                  # Ігноруємо всі .log файли

# Ігноруємо файли для середовищ IDE/Editor
.vscode/               # Конфігурації VSCode
.idea/                 # Конфігурації JetBrains
.DS_Store              # macOS специфічний файл

# Ігноруємо файли, пов'язані з тестами та деплоєм
coverage/              # Покриття тестами
*.tgz                  # Архіви, що створюються при публікації пакетів
*.bak                  # Бекапи файлів
*.swp                  # Системні файли, що створюються редакторами (наприклад, vim)
